CLERK_SECRET_KEY=sk_
PUBLIC_CLERK_PUBLISHABLE_KEY=pk_
PUBLIC_CONVEX_SITE_URL=https://foo
PUBLIC_CONVEX_URL=https://foo
CONVEX_DEPLOYMENT=dev:foo
CLERK_JWT_ISSUER_DOMAIN=https://foo
PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL=https://foo
PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL=https://foo
OPEN_ROUTER_API_KEY=sk
PUBLIC_POSTHOG_PROJECT_TOKEN=ph
PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
RENDERER_SHARED_SECRET="foo"
RENDERER_URL=http://foo