PUBLIC_CLERK_PUBLISHABLE_KEY=sha
CLERK_SECRET_KEY=ska
PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL=http://foo
PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL=http://foo

# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev # team: foo, project: bar

PUBLIC_CONVEX_URL=https://foo

PUBLIC_CONVEX_SITE_URL=https://foo

OPEN_ROUTER_API_KEY=sk-or-v1-foo
